{% if post %}
{% set title = post.title %}
{% set url = post.url %}
{% set content = post.content %}
{% endif %}

{% block head %}
{{ pagedown.html_head() }}
{% endblock %}

<form method="POST" action="" novalidate>
    {{form.hidden_tag()}}
  
    {{ form.title.label }} <br>
    {{ form.title(value=title) }}<br>
  
    {% for error in form.title.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  
    {{ form.url.label }}<br>
    {{ form.url(value=url) }}<br>
  
    {% for error in form.url.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  
    {{ form.post.label }}<br>
    {{ form.post(value=content) }}<br>
  
    {% for error in form.post.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
    
    {{ form.submit() }}
  </form>