<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Eat Healthy</title>
    {% else %}
    <title>Eat Healthy</title>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;400;500;600;700;800&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head%} {% endblock %}
</head>
<body>
    <nav>
        <a id="home" href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/eat_healthy_logo.png') }}" alt="healthy food logo">
            <h1>Eat Healthy</h1>
        </a>
        <input type="search" placeholder="Search...">
        
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">
            <img id="user" src="{{ url_for('static', filename='img/person-fill.svg') }}" alt="user icon">
        {% else %}
        <a id="avatar-circle" href="{{ url_for('profile', username=current_user.username) }}">
            <img id="nav-avatar" src="{{ url_for('static', filename='img/photo.png') }}" alt="user avatar">
            <!-- <img id="user" src="data:image/png;base64{{current_user.avatar}}" alt="user avatar"> -->
        {% endif %}
        </a>
    </nav>
    <!-- <div>
        Eat Healthy:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} -->
    {% block content %}{% endblock %}
</body>
</html>
