{% extends "base.html" %}

{% block head %}
    <script defer src="{{ url_for('static', filename='js/navigateArticles.js') }}"></script>
{% endblock %}

{% block content %}
    <main class="form-content">
        <h1>Change your Profile</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="w-100">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="w-100">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="w-100">
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="w-100">
                {{ form.avatar.label }}<br>
                {{ form.avatar(size=32) }}<br>
                {% for error in form.avatar.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            {% include 'components/flash_messages.html' %}
            <div class="w-100">
                {{ form.submit() }}
            </div>
        </form>
    </main>
{% endblock %}