{% extends "base.html" %}

{% block content %}
    <main class="form-content">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="w-100">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="w-100">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="hor-center">
                {{ form.remember_me() }}
                {{ form.remember_me.label }}
            </div>
            <div class="w-100">
                {{ form.submit() }}
            </div>
        </form>
        <a id="register" href="{{ url_for('register') }}">New User? Register now!</a>
    </main>
{% endblock %}
