{% extends 'base.html' %}

{% block head %}
{{ pagedown.html_head() }}
{% endblock %}

{% if post %}
{% set title = post.title %}
{% set description = post.description %}
{% set url = post.url %}
{% endif %}

{% block content %}
<form method="POST" action='' novalidate>
  {{form.hidden_tag()}}

  {{ form.title.label }} <br>
  {{ form.title(size=32, value=title) }}<br>

  {% for error in form.title.errors %}
  <span class="error">{{ error }}</span>
  {% endfor %}

  {{ form.description.label }} <br>
  {{ form.description(size=32, value=description) }}<br>

  {% for error in form.description.errors %}
  <span class="error">{{ error }}</span>
  {% endfor %}

  {{ form.url.label }}<br>
  {{ form.url(size=32, value=url) }}<br>

  {% for error in form.url.errors %}
  <span class="error">{{ error }}</span>
  {% endfor %}

  {{ form.content.label }}<br>
  {{ form.content }}<br>

  {% for error in form.content.errors %}
  <span class="error">{{ error }}</span>
  {% endfor %}
  
  {{ form.submit() }}
</form>
{% endblock %}
