{% extends "base.html" %}

{% block content %}
    <main class="profile">
        <img class="avatar" src="{{ url_for('static', filename='img/photo.png') }}" alt="user avatar">
        <div class="user-info">
            <h1>{{user.username}}</h1>
            <div>
                <h2>Account created:</h2>
                <h2>{{user.format_date()}}</h2>
            </div>
        </div>
        <div class="user-articles">
            <h1>Articles:</h1>
            {% for post in posts %}
                <h2>{{ post.title }}</h2>
                <div data-link="/{{post.author.username}}/{{ post.url }}" >
                    {% if post.content_html %}
                        {{ post.content_html | safe }}
                    {% else %}
                        {{ post.content }}
                    {% endif %}
                </div>
            {% endfor %}
                
            {% if prev_url %}
                <a href="{{ prev_url }}">Newer posts</a>
            {% endif %}

            {% if next_url %}
                <a href="{{ next_url }}">Older posts</a>
            {% endif %}
        </div>
    </main>
{% endblock %}