{% extends "base.html" %}

{% block head %}
    <script defer src="{{ url_for('static', filename='js/navigateArticles.js') }}"></script>
{% endblock %}

{% block content %}
    <main class="profile">
        <img class="avatar" src="{{ url_for('static', filename='img/photo.png') }}" alt="user avatar">
        <div class="user-info">
            <h1 class="profile-heading">{{user.username}}</h1>
            <div>
                <h2 class="account-create-date">Account created:</h2>
                <h2 class="account-create-date">{{ user.format_date() }}</h2>
            </div>
        </div>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        <div class="user-articles">
            <h1 class="profile-heading">Articles:</h1>
            {% for post in posts %}
            <article data-link="/{{post.author.username}}/{{post.url}}">
                <img class="article-cover" src="{{ url_for('static', filename='img/photo.png') }}" alt="article cover">
                <div>
                    <h2 class="article-title">{{ post.title }}</h2>
                    <h3 class="article-create-date">{{ post.format_date() }}</h3>
                    <span class="article-description">{{ post.description }}</span>
                </div>
            </article>
                    <!-- <div data-link="/{{post.author.username}}/{{ post.url }}" >
                        {% if post.content_html %}
                            {{ post.content_html | safe }}
                        {% else %}
                            {{ post.content }}
                        {% endif %}
                    </div> -->
            {% endfor %}
                
            {% if prev_url %}
                <a href="{{ prev_url }}">Newer posts</a>
            {% endif %}

            {% if next_url %}
                <a href="{{ next_url }}">Older posts</a>
            {% endif %}
        </div>
    </main>
{% endblock %}